.profile {
    /* border: 1px solid; */
    /* position: sticky;
    top: 0; */
    /* height: 100vh; */
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.intro {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.profileWrapper {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.profilePic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.handle {
    padding: 2%;
}

.handle h2 {
    font-size: 2rem;
}
.handle p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.connectionsDiv {
    display: flex;
    gap: 2rem;
}

.connections {
    background: transparent;
    border: none;
    font-size: inherit;
    color: rgb(135, 127, 142);
    transition: color 250ms;
}
.connections:hover {
    cursor: pointer;
    color: #000000;
}

.connectEdit {
    border: none;
    border-radius: 1rem;
    background-color: var(--color-purple);
    color: #ffffff;
    font-size: inherit;
    font-weight: 600;

    padding: .3rem 1rem;
    transition: background-color 250ms, color 250ms;
}
.connectEdit:hover {
    cursor: pointer;
    /* background-color: var(--color-light-purple); */
    color: #000000;
}