* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-purple: #9900cc;
    --color-light-purple: #ff70ff;
    --color-purple-alpha: #9900ccaa;
    --border-color: #ededed;
}